* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: #0084fd;

    display: flex;
    justify-content: space-between;

    padding: 30px
}

/* End navbar */

/* Main section cards */

.card.maincard {

    margin-top: 50px;

    /* Test */

    height: 600px;

}

.card {

    margin: 0px 15px 25px 15px;
    background-color: #b5ddff;
    border-radius: 15px;

    /* Test */

    height: 355px;

}

.content-cards {

    padding: 40px 30px;

    /* Test */
    width: 50%;
    height: 50%;

}

/* End Main section cards */

/* Strategic planning */

.strategic-planning {

    margin-top: 80px;
    background-color: #9792e4;

    /* Test */

    height: 1400px;

}

.strategic-content {

    padding: 30px;

    /* test */
    height: 25%;
    width: 25%;

}

.app-development {

    margin: 30px;

    background-color: white;
    border-radius: 35px;

    /* test */

    height: 615px;

}

.app-development-content {

    padding: 25px;

    /* test */
    height: 50%;
    width: 50%;
}

/* End Strategic planning */

/* Testimonials */

.testimonials-introduction {

    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;

}

.testimonials-cards {

    background-color: #9792e4;
    border-radius: 35px;
    margin: 30px 30px;

    /* test */

    height: 500px
}

.testimonials-content {

    padding: 30px 25px;

    /* test */
    height: 50%;
    width: 50%;
}

/* End Testimonials */

/* Working with us */

.benefits-with-us {

    background-color: #9792e4;

    /* test */
    height: 2800px;
}

.benefits-with-us h3 {

    padding: 70px;

}

.benefits-cards {

    background-color: white;
    border-radius: 15px;
    margin: 30px;

    /* test */

    height: 400px;
}

.benefits-cards-content {
    padding: 45px 30px;
}

/* End Working with us */