* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: #0084fd;

    display: flex;
    justify-content: space-between;

    padding: 30px
}

.links {
    display: none;
}

.links-tree a {
    color: white;
    text-decoration: none;
}

.links-tree a:nth-of-type(5) {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;

}

/* End navbar */

/* Main section cards */

.card.maincard {

    margin-top: 50px;

    /* Test */

    height: 600px;

}

.card {

    margin: 0px 15px 25px 15px;
    background-color: #b5ddff;
    border-radius: 15px;

    /* Test */

    height: 355px;

}

.content-cards {

    padding: 40px 30px;

    /* Test */
    width: 50%;
    height: 50%;

}

/* End Main section cards */

/* Strategic planning */

.strategic-planning {

    margin-top: 80px;
    background-color: #9792e4;

}

.strategic-content {

    padding: 30px;

    /* test */
    height: 25%;
    width: 25%;

}

.app-development {

    margin: 30px;

    background-color: white;
    border-radius: 35px;

    /* test */

    height: 615px;

}

.app-development-content {

    padding: 25px;

    /* test */
    height: 50%;
    width: 50%;
}

/* End Strategic planning */

/* Testimonials */

.testimonials-introduction {

    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;

}

.testimonials-cards {

    background-color: #9792e4;
    border-radius: 35px;
    margin: 30px 30px;
}

.testimonials-content {

    padding: 30px 25px;

    /* test */
    height: 50%;
    width: 50%;
}

/* End Testimonials */

/* Working with us */

.benefits-with-us {

    background-color: #9792e4;
    padding-bottom: 40px;

}

.benefits-with-us h3 {

    text-align: center;
    padding: 70px;

}

.benefits-cards {

    background-color: white;
    border-radius: 15px;
    margin: 30px;

    /* test */

    height: 400px;
}

.benefits-cards-content {
    padding: 45px 30px;
}

/* End Working with us */

/* About us */

.about-us-content {
    padding: 90px 30px;
}

.about-us-picture {
    padding: 90px 30px;
}

/* Fine about us */

/* Get Started */

.get-started {

    background-color: #9792e4;

}

.get-started-content {

    padding: 60px 30px;

}

/* End Get Started */

/* Footer */

footer {
    background-color: #333333;
}

.footer-content {
    padding: 30px;
    text-align: center;
}

/* End Footer */

@media screen and (min-width: 768px) {

    /* Main section responsive */

    .card-main {
        display: flex;
        flex-wrap: wrap;
    }

    .card.maincard {
        width: calc(100% / 3 * 2 - 25px);
    }

    .card-second {
        width: calc(100% / 3 - 20px);
        margin-top: 50px;
        background-color: #b5ddff;
        border-radius: 15px;
        max-height: 600px;
    }

    .card-aux {
        display: flex;
    }

    .card {
        width: calc(100% / 3);

    }

    /* End main section responsive */

    /* Second section responsive */

    .flex-responsive {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-cards {
        width: 40%;
    }

    .about-us {
        display: flex;
        justify-content: center;
    }

    .testimonials-cards {
        display: flex;
        justify-content: center;
    }

    /* End second section responsive */

}

@media screen and (min-width: 992px) {

    /* Stratetic planning responsive */

    .strategic-planning {
        display: flex;
        justify-content: center;
    }

    /* End strategic planning responsive */

    .flex-responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonials .benefits-cards {
        width: 25%;
    }

    footer {
        padding: 0 150px;
    }

}

@media screen and (min-width: 1200px) {}