* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Navbar */

nav {
    height: 75px;
    width: 100%;
    background-color: #0084fd;

    display: flex;
    justify-content: space-between;

    padding: 30px
}

.links {
    display: none;
}

.links-tree a {
    color: white;
    text-decoration: none;
}

.links-tree a:nth-of-type(5) {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;

}

.logo img {
    width: 60px;
}

.navigationbar .fa-solid {
    color: white;
}

/* End navbar */

/* Main section cards */

.card.maincard {

    margin-top: 50px;

    /* Test */
    height: 100%;
}

.card-second {

    margin: 0px 15px 25px 15px;
    background-color: #b5ddff;
    border-radius: 15px;

}

.card {

    margin: 0px 15px 25px 15px;
    background-color: #b5ddff;
    border-radius: 15px;

    /* Test */

    height: 355px;

}

.content-cards {

    padding: 0px 30px 0px 30px;

    /* Test */

    height: 45%;

}

.blue-string {
    font-weight: bold;
    font-size: 22px;
    color: #2e9afe;
    margin-bottom: 40px;
    text-align: center;
}

.content-cards p {
    margin-bottom: 35px;
}

.content-cards a {
    color: white;
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 30%;
    border-radius: 25px;
    display: block;
    text-align: center;
    margin-bottom: 80px;
}

.content-cards.second-content {
    display: flex;
    justify-content: center;
}

.content-cards img {
    width: 250px;
    display: block;
}

.content-cards .fa-solid {
    font-size: 80px;
    color: #0084fd;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;

}

.content-cards.second-content p {
    text-align: center;
}

.card .content-cards.second-content {
    margin-top: 35px;
}

/* End Main section cards */

/* Strategic planning */

.strategic-planning {

    margin-top: 80px;
    background-color: #9792e4;
    padding-bottom: 40px;

}

.strategic-content {

    padding: 30px;

}

.app-development {

    margin: 30px;

    background-color: white;
    border-radius: 35px;

}

.app-development-content {

    padding: 25px;

}

.strategic-content img {
    width: 100%;
}

.strategic-title {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.strategic-content p {
    color: white;
}

.app-development-content img {
    width: 100%;
}

.app-development-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.app-development-content p {
    text-align: center;
    margin-bottom: 30px;
}

.app-development-content .fa-solid {
    background-color: #9792e4;
    padding: 15px;
    border-radius: 50%;
    margin: auto;
    width: 40px;
    height: 40px;
}

.font-awesome-button {
    display: flex;
    justify-content: center;
}

/* End Strategic planning */

/* Testimonials */

.testimonials-introduction {

    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

.testimonials-title {
    margin-bottom: 30px;
}

.testimonials-introduction h2 {
    font-size: 32px;
    color: #9792e4;
}

.testimonials-cards {

    background-color: #9792e4;
    border-radius: 35px;
    margin: 30px 30px;
}


.testimonials-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.testimonials-content {

    margin: auto;
    padding: 15px 25px 0px 25px;

    color: white;
    width: 100%;

}

.testimonials-content p {
    margin-bottom: 32px;
}

.testimonials-name {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
}



/* End Testimonials */

/* Working with us */

.benefits-with-us {

    background-color: #9792e4;
    padding-bottom: 40px;

}

.benefits-with-us h3 {

    text-align: center;
    padding: 70px 0px 45px 0px;
    color: white;
    font-size: 32px;

}

.benefits-cards {

    background-color: white;
    border-radius: 15px;
    margin: 30px;

}

.benefits-cards-content {
    padding: 45px 30px;
}

.number-title {
    font-size: 40px;
    color: #9792e4;
    font-weight: bold;
    margin-bottom: 35px;
}

.quality-title {
    font-size: 24px;
    color: #9792e4;
    font-weight: bold;
    margin-bottom: 35px;
}

.benefits-cards-content p {
    margin-bottom: 35px;
}

.benefits-cards-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 50px;
    background-color: #9792e4;
    border-radius: 25px;
}

/* End Working with us */

/* About us */

.about-us {
    margin-bottom: 50px;
}

.about-us-content {
    padding: 90px 30px 0px 30px;
}

.about-us-picture {
    padding: 0px 30px 20px 30px;
}

.about-us-content h2 {
    color: #9792e4;
    font-size: 36px;
    margin-bottom: 50px;
}

.about-us-content p {
    margin-bottom: 65px;
}

.about-us-picture img {

    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.about-us-picture .fa-solid {

    position: relative;
    bottom: 110px;
    right: 50px;

    font-size: 60px;
    color: #9792e4;

}

.about-us-subtitle {
    color: #9792e4;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 0px 30px;
}

.about-us a {
    color: white;
    text-decoration: none;
    background-color: #9792e4;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0px 30px;
    font-size: 13px;
}


/* Fine about us */

/* Get Started */

.get-started {

    background-color: #9792e4;

}

.get-started-content {

    padding: 60px 30px;

}

.get-started-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.get-started-simple {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.get-started-free {
    color: #fdc15f;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

.get-started-subtitle {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

.get-started-content>a {
    color: #9792e4;
    background-color: white;
    padding: 15px 30%;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.get-started-copyright {
    margin-top: 40px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.get-started-copyright>a {
    color: white;
}

/* End Get Started */

/* Footer */

footer {
    background-color: #333333;
}

.footer-content {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.footer-content.second-content>a {
    color: #9893e6;
}

/* End Footer */

@media screen and (min-width: 768px) {

    /* Main section responsive */

    .card-main {
        display: flex;
        flex-wrap: nowrap;
    }

    .card.maincard {
        width: calc(100% / 3 * 2 - 25px);
    }

    .card-second {
        width: calc(100% / 3 - 20px);
        margin-top: 50px;
        background-color: #b5ddff;
        border-radius: 15px;
        max-height: 600px;
    }

    .card-aux {
        display: flex;
    }

    .card {
        width: calc(100% / 3);

    }


    /* End main section responsive */

    /* Second section responsive */

    .flex-responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-cards {
        width: 40%;
    }

    .about-us {
        display: flex;
        justify-content: center;
    }

    .testimonials-cards {
        display: flex;
        justify-content: center;
    }

    /* End second section responsive */

    /* About us */

    .about-us-picture .fa-solid {
        position: relative;
        bottom: 160px;
        left: 110px;
    }

    .about-us-picture img {

        margin-top: 80px;

    }

}

@media screen and (min-width: 992px) {

    /* Stratetic planning responsive */

    nav {
        padding-left: 150px;
        padding-right: 150px;
    }

    .cards-section {
        padding-left: 150px;
        padding-right: 150px;
    }

    .testimonials-introduction {
        padding-left: 150px;
        padding-right: 150px;
    }

    .flex-responsive {
        padding-left: 150px;
        padding-right: 150px;
    }

    .about-us {
        padding-left: 150px;
        padding-right: 150px;
    }

    .strategic-planning {
        padding-left: 150px;
        padding-right: 150px;
    }

    .get-started-content {
        display: flex;
        justify-content: center;
    }

    .strategic-planning {
        display: flex;
        justify-content: center;
    }

    .card-main {
        display: flex;
        flex-wrap: nowrap;
    }

    .strategic-enclosure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* End strategic planning responsive */

    .flex-responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonials .benefits-cards {
        width: 25%;
    }

    .about-us-picture .fa-solid {
        position: relative;
        bottom: 160px;
        left: 110px;
    }

    /* About us */

    footer {
        padding: 0 175px;
    }

}

@media screen and (min-width: 1200px) {

    .maincard {
        display: flex;
    }

    .content-cards.second-content.second-image img {
        position: relative;
        bottom: 0px;
        top: 0px;
    }

    .about-us-picture .fa-solid {
        position: relative;
        bottom: 100px;
        left: -40px;
    }

}